:root {
  --db-background-main: hsl(222, 26%, 31%);
  --db-background-toggle: hsl(223, 31%, 20%);
  --db-background-screen: hsl(224, 36%, 15%);

  --db-key-background: hsl(225, 21%, 49%);
  --db-key-shadow: hsl(224, 28%, 35%);

  --db-key-background-red: hsl(6, 63%, 50%);
  --db-key-shadow-red: hsl(6, 70%, 34%);

  --db-key-background-orange: hsl(30, 25%, 89%);
  --db-key-shadow-orange: hsl(28, 16%, 65%);

  --db-text-dark: hsl(221, 14%, 31%);
  --db-text-light: hsl(0, 0%, 100%);
}

.darkBlue.App {
  background: var(--db-background-main);
  color: var(--db-text-light);
}
.darkBlue .display {
  background: var(--db-background-screen);
}
.darkBlue .switch,
.darkBlue .operationPad {
  background: var(--db-background-toggle);
}

.darkBlue input[type='range'].switch::-webkit-slider-runnable-track {
  background: var(--db-background-toggle);
  border: 4.6px solid var(--db-background-toggle);
}
.darkBlue input[type='range'].switch::-webkit-slider-thumb {
  background: var(--db-key-background-red);
}
.darkBlue input[type='range'].switch:focus::-webkit-slider-runnable-track {
  background: #2c3754;
}
.darkBlue input[type='range'].switch::-moz-range-track {
  background: var(--db-background-toggle);
  border: 4.6px solid var(--db-background-toggle);
}
.darkBlue input[type='range'].switch::-moz-range-thumb {
  background: var(--db-key-background-red);
}

.darkBlue .resultButton {
  background: var(--db-key-background-red);
  box-shadow: var(--db-key-shadow-red) 0px 5px;
  color: var(--db-text-light);
}
.darkBlue .resultButton:active {
  box-shadow: var(--db-key-shadow-red) 0px 2px;
}

.darkBlue .textDark {
  color: var(--db-text-dark);
}

.darkBlue button:hover,
.darkBlue button.active {
  filter: brightness(1.2);
}

.darkBlue button {
  background: var(--db-key-background-orange);
  box-shadow: var(--db-key-shadow-orange) 0px 5px;
  color: var(--db-text-dark);
}
.darkBlue button:active {
  box-shadow: var(--db-key-shadow-orange) 0px 2px;
}

.darkBlue .specOpButton {
  background: var(--db-key-background);
  box-shadow: var(--db-key-shadow) 0px 5px;
  color: var(--db-text-light);
}
.darkBlue .specOpButton:active {
  box-shadow: var(--db-key-shadow) 0px 2px;
}
