:root {
  --lg-background-main: hsl(0, 0%, 90%);
  --lg-background-toggle: hsl(0, 5%, 81%);
  --lg-background-screen: hsl(0, 0%, 93%);

  --lg-key-background: hsl(185, 42%, 37%);
  --lg-key-shadow: hsl(185, 58%, 25%);

  --lg-key-background-red: hsl(25, 98%, 40%);
  --lg-key-shadow-red: hsl(25, 99%, 27%);

  --lg-key-background-orange: hsl(45, 7%, 89%);
  --lg-key-shadow-orange: hsl(35, 11%, 61%);

  --lg-text-dark: hsl(60, 10%, 19%);
  --lg-text-light: hsl(0, 0%, 100%);
}

.lightGray.App {
  background: var(--lg-background-main);
  color: var(--lg-text-dark);
}
.lightGray .display {
  background: var(--lg-background-screen);
}
.lightGray .switch,
.lightGray .operationPad {
  background: var(--lg-background-toggle);
}

.lightGray input[type='range'].switch::-webkit-slider-runnable-track {
  background: var(--lg-background-toggle);
  border: 4.6px solid var(--lg-background-toggle);
}
.lightGray input[type='range'].switch::-webkit-slider-thumb {
  background: var(--lg-key-background-red);
}
.lightGray input[type='range'].switch:focus::-webkit-slider-runnable-track {
  background: rgb(216, 215, 215);
}
.lightGray input[type='range'].switch::-moz-range-track {
  background: var(--lg-background-toggle);
  border: 4.6px solid var(--lg-background-toggle);
}
.lightGray input[type='range'].switch::-moz-range-thumb {
  background: var(--lg-key-background-red);
}

.lightGray .resultButton {
  background: var(--lg-key-background-red);
  box-shadow: var(--lg-key-shadow-red) 0px 5px;
  color: var(--lg-text-light);
}
.lightGray .resultButton:active {
  box-shadow: var(--lg-key-shadow-red) 0px 2px;
}

.lightGray .textDark {
  color: var(--lg-text-dark);
}

.lightGray button {
  background: var(--lg-key-background-orange);
  box-shadow: var(--lg-key-shadow-orange) 0px 5px;
  color: var(--lg-text-dark);
}
.lightGray button:active {
  box-shadow: var(--lg-key-shadow-orange) 0px 2px;
}

.lightGray .specOpButton {
  background: var(--lg-key-background);
  box-shadow: var(--lg-key-shadow) 0px 5px;
  color: var(--lg-text-light);
}
.lightGray .specOpButton:active {
  box-shadow: var(--lg-key-shadow) 0px 2px;
}
