.darkBlue.display {
  background: hsl(224, 36%, 15%);
}
.darkBlue.switch,
.darkBlue.operationPad {
  background: hsl(223, 31%, 20%);
  color: hsl(221, 14%, 31%);
}
.darkBlue.App {
  background: rgb(58, 71, 100);
  color: hsl(0, 0%, 100%);
}

input[type='range'].darkBlue.switch::-webkit-slider-runnable-track {
  background: #232c43;
  border: 4.6px solid #232c43;
}
input[type='range'].darkBlue.switch::-webkit-slider-thumb {
  background: #d03f2f;
  border: 1px solid rgba(0, 0, 0, 0);
}
input[type='range'].darkBlue.switch:focus::-webkit-slider-runnable-track {
  background: #2c3754;
}
input[type='range'].darkBlue.switch::-moz-range-track {
  background: #232c43;
  border: 4.6px solid #232c43;
}
input[type='range'].darkBlue.switch::-moz-range-thumb {
  background: #d03f2f;
  border: 1px solid rgba(0, 0, 0, 0);
}

.darkBlue.brightButton {
  background: hsl(6, 63%, 50%);
  box-shadow: hsl(6, 70%, 34%) 0px 5px;
  color: rgb(255, 255, 255);
}
.darkBlue.brightButton:active {
  box-shadow: hsl(6, 70%, 34%) 0px 2px;
}

.darkBlue.button {
  background: hsl(0, 0%, 100%);
  box-shadow: hsl(28, 16%, 65%) 0px 5px;
}
.darkBlue.button:active {
  box-shadow: hsl(28, 16%, 65%) 0px 2px;
}

.darkBlue.darkButton {
  background: hsl(225, 21%, 49%);
  box-shadow: hsl(224, 28%, 35%) 0px 5px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.darkBlue.darkButton:active {
  box-shadow: hsl(224, 28%, 35%) 0px 2px;
}

.lightGray.display {
  background: hsl(0, 0%, 93%);
}
.lightGray.switch,
.lightGray.operationPad {
  background: rgb(209, 204, 204);
}
.lightGray.App {
  background: rgb(230, 230, 230);
  color: rgb(53, 53, 44);
}

input[type='range'].lightGray.switch::-webkit-slider-runnable-track {
  background: rgb(209, 204, 204);
  border: 4.6px solid rgb(209, 204, 204);
}
input[type='range'].lightGray.switch::-webkit-slider-thumb {
  background: rgb(202, 85, 2);
  border: 1px solid rgba(0, 0, 0, 0);
}
input[type='range'].lightGray.switch:focus::-webkit-slider-runnable-track {
  background: rgb(216, 215, 215);
}
input[type='range'].lightGray.switch::-moz-range-track {
  background: rgb(209, 204, 204);
  border: 4.6px solid rgb(209, 204, 204);
}
input[type='range'].lightGray.switch::-moz-range-thumb {
  background: rgb(202, 85, 2);
  border: 1px solid rgba(0, 0, 0, 0);
}

.lightGray.brightButton {
  background: hsl(25, 98%, 40%);
  box-shadow: hsl(25, 99%, 27%) 0px 5px;
  color: rgb(255, 255, 255);
}
.lightGray.brightButton:active {
  box-shadow: hsl(25, 99%, 27%) 0px 2px;
}

.lightGray.textDark {
  color: hsl(60, 10%, 19%);
}

.lightGray.button {
  background: hsl(45, 7%, 89%);
  box-shadow: rgb(166 157 145) 0px 5px;
  color: hsl(60, 10%, 19%);
}
.lightGray.button:active {
  box-shadow: rgb(166 157 145) 0px 2px;
}

.lightGray.darkButton {
  background: hsl(185, 42%, 37%);
  box-shadow: hsl(185, 58%, 25%) 0px 5px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.lightGray.darkButton:active {
  box-shadow: hsl(185, 58%, 25%) 0px 2px;
}

.darkViolet.display,
.darkViolet.switch,
.darkViolet.operationPad {
  background: hsl(268, 71%, 12%);
}

.darkViolet.App {
  background: rgb(22, 6, 40);
  color: hsl(52, 100%, 62%);
}

input[type='range'].darkViolet.switch::-webkit-slider-runnable-track {
  background: rgb(29, 9, 52);
  border: 4.6px solid rgb(29, 9, 52);
}
input[type='range'].darkViolet.switch::-webkit-slider-thumb {
  background: rgb(0, 224, 209);
  border: 1px solid rgba(0, 0, 0, 0);
}
input[type='range'].darkViolet.switch:focus::-webkit-slider-runnable-track {
  background: rgb(52, 28, 79);
}
input[type='range'].darkViolet.switch::-moz-range-track {
  background: rgb(29, 9, 52);
  border: 4.6px solid rgb(29, 9, 52);
}
input[type='range'].darkViolet.switch::-moz-range-thumb {
  background: rgb(0, 224, 209);
  border: 1px solid rgba(0, 0, 0, 0);
}

.darkViolet.brightButton {
  background: hsl(176, 100%, 44%);
  box-shadow: hsl(177, 92%, 70%) 0px 5px;
  color: rgb(255, 255, 255);
}
.darkViolet.brightButton:active {
  box-shadow: hsl(177, 92%, 70%) 0px 2px;
}

.darkViolet.button {
  color: hsl(52, 100%, 62%);
  background: hsl(268, 47%, 21%);
  box-shadow: hsl(290, 70%, 36%) 0px 5px;
}
.darkViolet.button:active {
  box-shadow: hsl(290, 70%, 36%) 0px 2px;
}

.darkViolet.darkButton {
  background: hsl(281, 89%, 26%);
  box-shadow: hsl(285, 91%, 52%) 0px 5px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.darkViolet.darkButton:active {
  box-shadow: hsl(285, 91%, 52%) 0px 2px;
}
