.logo svg {
  display: block;
  fill: var(--bg-logo);
  filter: opacity(0.9);
}

.logo svg:hover {
  filter: brightness(var(--brightness));
}

@media (max-height: 670px) and (max-width: 375px) {
  .logo {
    display: none;
  }
}