:root {
  --main-width: 460px;
  --main-mobile-width: 370px;
  --anim: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

div,
button,
input[type='range'] {
  transition: background var(--anim);
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-main);
  color: var(--text-color);
}

.switch,
.operationPad {
  background: var(--bg-toggle);
}

.header {
  display: flex;
  width: var(--main-width);
  align-items: end;
  justify-content: space-between;
  margin-bottom: 1em;
}

.title {
  cursor: default;
  font-size: 1.5em;
  font-weight: bold;
}

.display {
  display: flex;
  width: var(--main-width);
  height: 100px;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em;
  border-radius: 10px;
  background: var(--bg-screen);
  font-size: 50px;
  font-weight: 700;
}

.operationPad {
  display: grid;
  width: var(--main-width);
  padding: 1em;
  border-radius: 10px;
  margin-top: 25px;
  gap: 1em;
  grid-template: repeat(5, 50px) / repeat(4, 1fr);
  user-select: none;
}

.btn1 {
  grid-area: 4 / 2 / 5 / 3;
}
.btn2 {
  grid-area: 3 / 1 / 4 / 2;
}
.btn3 {
  grid-area: 3 / 2 / 4 / 3;
}
.btn4 {
  grid-area: 3 / 3 / 4 / 4;
}
.btn5 {
  grid-area: 2 / 1 / 3 / 2;
}
.btn6 {
  grid-area: 2 / 2 / 3 / 3;
}
.btn7 {
  grid-area: 2 / 3 / 3 / 4;
}
.btn8 {
  grid-area: 1 / 1 / 2 / 2;
}
.btn9 {
  grid-area: 1 / 2 / 2 / 3;
}
.btn10 {
  grid-area: 1 / 3 / 2 / 4;
}
.btn11 {
  grid-area: 4 / 1 / 5 / 2;
}
.btn12 {
  grid-area: 4 / 3 / 5 / 4;
}
.btn13 {
  grid-area: 4 / 4 / 5 / 5;
}
.btn14 {
  grid-area: 3 / 4 / 4 / 5;
}
.btn15 {
  grid-area: 2 / 4 / 3 / 5;
}
.btn16 {
  grid-area: 1 / 4 / 2 / 5;
}
.btn17 {
  grid-area: 5 / 1 / 6 / 3;
}
.btn18 {
  grid-area: 5 / 3 / 6 / 5;
}

@media (max-width: 500px) {
  .display,
  .header,
  .operationPad {
    width: var(--main-mobile-width);
  }
}

@media (max-width: 380px) {
  .display,
  .header,
  .operationPad {
    width: 90%;
  }
  .display {
    height: 26vw;
    font-size: 12vw;
  }
}
