:root {
  --dot-size: 18px;
  --toogle-height: 25px;
  --main-width: 460px;
  --main-mobile-width: 370px;
  --screen-height: 100px;
  --dark-slate-blue: #3a4764;
  --white: #ffffff;
  --blue-whale: var(--blue-whale);
  --oxford-blue: #182034;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--dark-slate-blue);
  color: var(--white);
}

.header {
  width: var(--main-width);
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1em;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.themeSwitch {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  align-items: center;
}

.themeSwitch label {
  grid-area: 2 / 1 / 3 / 2;
}

.themeSwitch datalist {
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
  grid-area: 1 / 2 / 2 / 3;
}

input[type='range'].switch {
  width: 75px;
  margin: -3.5px 0;
  background-color: transparent;
  appearance: none;
  grid-area: 2 / 2 / 3 / 3;
}
input[type='range'].switch:focus {
  outline: none;
}
input[type='range'].switch::-webkit-slider-runnable-track {
  background: var(--blue-whale);
  border: 4.6px solid var(--blue-whale);
  border-radius: 25px;
  width: 75px;
  height: 25px;
  cursor: pointer;
}
input[type='range'].switch::-webkit-slider-thumb {
  margin-top: -1.1px;
  width: 18px;
  height: 18px;
  background: #d03f2f;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type='range'].switch:focus::-webkit-slider-runnable-track {
  background: #2c3754;
}
input[type='range'].switch::-moz-range-track {
  background: var(--blue-whale);
  border: 4.6px solid var(--blue-whale);
  border-radius: 25px;
  width: 75px;
  height: 25px;
  cursor: pointer;
}
input[type='range'].switch::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #d03f2f;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
}
input[type='range'].switch::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0 0;
  color: transparent;
  width: 75px;
  height: 25px;
  cursor: pointer;
}
input[type='range'].switch::-ms-fill-lower {
  background: #1a2132;
  border: 4.6px solid var(--blue-whale);
  border-radius: 50px;
}
input[type='range'].switch::-ms-fill-upper {
  background: var(--blue-whale);
  border: 4.6px solid var(--blue-whale);
  border-radius: 50px;
}
input[type='range'].switch::-ms-thumb {
  width: 18px;
  height: 18px;
  background: #d03f2f;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type='range'].switch:focus::-ms-fill-lower {
  background: var(--blue-whale);
}
input[type='range'].switch:focus::-ms-fill-upper {
  background: #2c3754;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: var(--main-width);
  height: var(--screen-height);
  border-radius: 10px;
  padding: 0.5em;
  font-size: 50px;
  font-weight: 700;
  background: rgb(24, 32, 52);
}

.operationPad {
  display: grid;
  grid-template: repeat(5, 55px) / repeat(4, 1fr);
  margin-top: 25px;
  padding: 1em;
  border-radius: 10px;
  gap: 0.7em 1em;
  width: var(--main-width);
  background: rgb(35, 44, 67);
  user-select: none;
}

.operationPad button {
  box-shadow: rgb(180 165 151) 0px 5px;
  color: rgb(68, 75, 90);
  background: var(--white);
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  justify-self: center;
  font-size: 22px;
  font-weight: 700;
  border: none;
}

.operationPad button:active {
  height: 48px;
  transition: all 0.1s;
  box-shadow: rgb(180 165 151) 0px 2px;
  align-self: end;
}

.specOpButton {
  text-transform: uppercase;
}

.btn1 {
  grid-area: 4 / 2 / 5 / 3;
}
.btn2 {
  grid-area: 3 / 1 / 4 / 2;
}
.btn3 {
  grid-area: 3 / 2 / 4 / 3;
}
.btn4 {
  grid-area: 3 / 3 / 4 / 4;
}
.btn5 {
  grid-area: 2 / 1 / 3 / 2;
}
.btn6 {
  grid-area: 2 / 2 / 3 / 3;
}
.btn7 {
  grid-area: 2 / 3 / 3 / 4;
}
.btn8 {
  grid-area: 1 / 1 / 2 / 2;
}
.btn9 {
  grid-area: 1 / 2 / 2 / 3;
}
.btn10 {
  grid-area: 1 / 3 / 2 / 4;
}
.btn11 {
  grid-area: 4 / 1 / 5 / 2;
}
.btn12 {
  grid-area: 4 / 3 / 5 / 4;
}
.btn13 {
  grid-area: 4 / 4 / 5 / 5;
}
.btn14 {
  grid-area: 3 / 4 / 4 / 5;
}
.btn15 {
  grid-area: 2 / 4 / 3 / 5;
}
.btn16 {
  grid-area: 1 / 4 / 2 / 5;
}
.btn17 {
  grid-area: 5 / 1 / 6 / 3;
}
.btn18 {
  grid-area: 5 / 3 / 6 / 5;
}

@media (max-width: 500px) {
  .display,
  .header,
  .operationPad {
    width: var(--main-mobile-width);
  }
}
