:root {
  --thumb-size: 17px;
  --track-height: 25px;
  --main-width: 460px;
  --main-mobile-width: 370px;
  --screen-height: 100px;
  --anim: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

div,
button,
input[type='range'] {
  transition: background var(--anim);
}

.App {
  background: var(--bg-main);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.switch,
.operationPad {
  background: var(--bg-toggle);
}

.header {
  width: var(--main-width);
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1em;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  cursor: default;
}

.themeSwitch {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  align-items: center;
}

.themeSwitch label {
  grid-area: 2 / 1 / 3 / 2;
}

.themeSwitch datalist {
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
  grid-area: 1 / 2 / 2 / 3;
  cursor: default;
}

input[type='range'].switch {
  width: 75px;
  margin: -3.5px 0;
  background-color: transparent;
  appearance: none;
  grid-area: 2 / 2 / 3 / 3;
}
.switch:focus {
  outline: none;
}
.switch::-webkit-slider-runnable-track {
  transition: background-color var(--anim), border-color var(--anim);
  background: var(--bg-toggle);
  border: 4.6px solid var(--bg-toggle);
  border-radius: var(--track-height);
  height: var(--track-height);
  cursor: pointer;
}
.switch::-webkit-slider-thumb {
  background: var(--key-bg-special);
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: var(--thumb-size);
  -webkit-appearance: none;
}

.switch:focus::-webkit-slider-runnable-track {
  background: var(--focus-slider-track);
}

.switch::-webkit-slider-thumb:hover {
  filter: brightness(var(--brightness));
}

.display {
  background: var(--bg-screen);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: var(--main-width);
  height: var(--screen-height);
  border-radius: 10px;
  padding: 0.5em;
  font-size: 50px;
  font-weight: 700;
}

.operationPad {
  display: grid;
  grid-template: repeat(5, 50px) / repeat(4, 1fr);
  margin-top: 25px;
  padding: 1em;
  border-radius: 10px;
  gap: 1em;
  width: var(--main-width);
  user-select: none;
}

.operationPad button {
  transition: box-shadow-color var(--anim), box-shadow-x 0s, box-shadow-y 0s,
    background var(--anim);
  background: var(--key-bg-primary);
  box-shadow: var(--key-shadow-primary) 0px 5px;
  color: var(--key-text-primary);
  font-family: 'League Spartan', sans-serif;
  padding-top: 0.2em;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  justify-self: center;
  font-size: 33px;
  font-weight: 700;
  padding-inline: 0;
  border: none;
}

.operationPad button:active {
  transform: translateY(3px);
  box-shadow: var(--key-shadow-primary) 0px 2px;
}

button:hover,
button.active {
  filter: brightness(var(--brightness));
}

button.specOpButton,
button.resultButton {
  font-size: 25px;
  text-transform: uppercase;
}

button.specOpButton {
  background: var(--key-bg-secondary);
  box-shadow: var(--key-shadow-secondary) 0px 5px;
  color: var(--key-text-secondary);
}
button.specOpButton:active {
  box-shadow: var(--key-shadow-secondary) 0px 2px;
}

button.resultButton {
  background: var(--key-bg-special);
  box-shadow: var(--key-shadow-special) 0px 5px;
  color: var(--key-text-special);
}
button.resultButton:active {
  box-shadow: var(--key-shadow-special) 0px 2px;
}

.btn1 {
  grid-area: 4 / 2 / 5 / 3;
}
.btn2 {
  grid-area: 3 / 1 / 4 / 2;
}
.btn3 {
  grid-area: 3 / 2 / 4 / 3;
}
.btn4 {
  grid-area: 3 / 3 / 4 / 4;
}
.btn5 {
  grid-area: 2 / 1 / 3 / 2;
}
.btn6 {
  grid-area: 2 / 2 / 3 / 3;
}
.btn7 {
  grid-area: 2 / 3 / 3 / 4;
}
.btn8 {
  grid-area: 1 / 1 / 2 / 2;
}
.btn9 {
  grid-area: 1 / 2 / 2 / 3;
}
.btn10 {
  grid-area: 1 / 3 / 2 / 4;
}
.btn11 {
  grid-area: 4 / 1 / 5 / 2;
}
.btn12 {
  grid-area: 4 / 3 / 5 / 4;
}
.btn13 {
  grid-area: 4 / 4 / 5 / 5;
}
.btn14 {
  grid-area: 3 / 4 / 4 / 5;
}
.btn15 {
  grid-area: 2 / 4 / 3 / 5;
}
.btn16 {
  grid-area: 1 / 4 / 2 / 5;
}
.btn17 {
  grid-area: 5 / 1 / 6 / 3;
}
.btn18 {
  grid-area: 5 / 3 / 6 / 5;
}

@media (max-width: 500px) {
  .display,
  .header,
  .operationPad {
    width: var(--main-mobile-width);
  }
}

@media (max-width: 380px) {
  .display,
  .header,
  .operationPad {
    width: 90%;
  }
  .display {
    font-size: 12vw;
    height: 26vw;
}
}
