:root {
  background-color: #242424;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  place-items: center;
}

* {
  box-sizing: border-box;
}

@media (max-width: 500px) {
  body {
    overflow: hidden;
  }
}
